html {
    display:block;
}
body{
    display: block;
    height: 150vh;
    margin: 0;
    background: #2D3476;
}
main { /*top, right, bottom, left*/
    padding: 50px 0 50px;
    display: block;
}

section {
    display: block;
}

div {
    display: block;
}

a {
    cursor: pointer;
    color: rgb(202, 182, 68);
    text-shadow: 3px 3px 15px rgb(128, 117, 86);
    text-decoration: rgb(199, 191, 147) wavy underline;
}

.viewp {
    font-size: 45px;
}
.viewp:hover{
    background: linear-gradient(to left, #2D3476);
    border-radius: 10px;
}

a:hover {
    color: black;
}

/*-----------------------------Microinteraction title------------------------------------*/
.script-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------------------------------------*/



/*---------------------------------------H1----------------------------------------------*/
h1 {
    font-size: 40px;
    color: rgb(202, 182, 68);
    text-shadow: 3px 3px 15px rgb(94, 100, 209);
    font-family:sans-serif;
    margin: 5px;    /*come back fix this*/
    font-weight: 770;
}
/*------------------------------------------H2---------------------------------------------*/

h2 {
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 15px rgb(104, 128, 224);
    font-family:sans-serif;
    margin: 5px;    /*come back fix this*/
}

/*-----------------------------------------H3--------------------------------------------*/
h3 {
    color: white;
    text-align: center;
    margin-top: 155px;
}


/*---------------------------------------------------------------------------------------*/
/*--------------------------MOBILE SCREEN for paragraphy/title---------------------------*/

/*  color: rgb(202, 182, 68);*/
@media only screen and (max-width: 768px) {
main {
    margin: 5px
}
}

@media only screen and (max-width: 768px) {
h1 {
    font-size: 35px;
}
}

@media only screen and (max-width: 768px) {
h2 {
    font-size: 20px;
}
}

/*--------------------------MOBILE SCREEN for image--------------------------------------*/
@media only screen and (max-width: 768px) {
    .casestudy  {
    align-items: center;
    height: 30rem;
    object-fit: cover;
    object-position: bottom;
    }
    }

@media only screen and (max-width: 768px) {
    p {
    font-size: 13px;
    font-weight: 100;
    line-height: 2rem;
    }

    .script-1 {
        margin-top: 25px;
        margin-bottom: 0;
    }
    .script-2 {
        font-size: 18px;
        width: 100%;
        margin: 17px;
        /*come back fix this*/
    }
    }

/*---------------------------------------------------------------------------------------*/
/*-----------------------------------------CSS START HERE--------------------------------*/
.casestudy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 45em;
}
h1 {
    text-align: center;
    margin-top: 30px;
   /* margin-bottom: 30px; */
} 
h2 {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

p{
    color: white;
    text-align:left;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1%;
    font-size: 25px;
    padding-bottom: 2%;
    line-height: 2.2rem;
}  

hr {
    background-color: rgb(180, 137, 44); height: 3px; border: 0;
    margin-left: 6%;
    margin-right: 6%;
}

/*---------------------------------------------------------------------------------------*/

/*----------------------------IMAGE CSS SIDE BY SIDE----------------------------------------*/
#example .script-1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    column-gap: 5%;
    flex-wrap: wrap;

}
.script-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.script-2 {
    width: 25%;

}
img {
    align-items: center;
    width: 30rem;
    height: 28rem;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 2rem;
  }

  .img1 {
    align-items: center;
    width: 42rem;
    height: 28rem;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 2rem;
  }
.space {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    img{
        width: 100%;
        height: 100%;
    }
    .viewp {
        font-size: 35px;
    }
    }